$base: #fafafa;
$base-dark: #e0e0e0;
$base-light: #fff;
$on-base:#000;

$primary:#0277bd;
$primary-dark:#004c8c;
$primary-light: #58a5f0;
$on-primary: #fff;

$secondary:#f44336;
$secondary-dark:#b90007;
$secondary-light: #ff795d;
$on-secondary: #fff;

$error: #b00020;
$on-error:#fff;

$succes: #99aa00;
$on-succes:#fff;


